## generic files to ignore
*.log
*.tmproj
*.lock
*.DS_Store
*.swp
*.out
*.rates

## ignore png or pdf files in bin/
bin/*.png
bin/*.pdf

## python
*.pyc

## trash
trash*
shakedown/*
speed_test2.py

##docs
myhtmldocs
